.form {
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #000;
  }

  button {
    position: relative;
    padding: 6px 20px;
    border: 1px solid rgba(#000, 0.2);
    border-radius: 10px;
    background-color: transparent;
    min-width: 0;
    min-height: 0;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    color: inherit;
    font-weight: 700;
    line-height: 1.6;
    font-size: inherit;
    letter-spacing: 0em;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    appearance: none;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out,
      border-radius 0.3s ease-out, max-width 0.3s ease-out,
      max-height 0.3s ease-out, background-color 0.3s ease-out,
      box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out,
      visibility 0.3s ease-out;
    z-index: 1;
    transform-style: preserve-3d;

    &:hover,
    &:focus {
      border-color: rgba(#000, 0.4);
      box-shadow: 1px 1px 2px 0px rgba(#000, 0.05),
        1px 1px 2px 0px rgba(#000, 0.05) inset;
    }
  }

  input {
    border: 1px solid rgba(#000, 0.2);
    font-size: 15px;
    line-height: 1.6;
    font-weight: 700;
    padding: 2px 10px 3px;
    display: block;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(#000, 0.1);
    transition: transform 0.3s ease-out, border-color 0.3s ease-out,
      border-radius 0.3s ease-out, max-width 0.3s ease-out,
      max-height 0.3s ease-out, background-color 0.3s ease-out,
      box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out,
      visibility 0.3s ease-out;

    &:hover,
    &:focus,
    &:active {
      border-color: rgba(#000, 0.4);
      box-shadow: 1px 1px 2px 0px rgba(#000, 0.05),
        1px 1px 2px 0px rgba(#000, 0.05) inset;
    }

    &::placeholder {
      color: rgba(#000, 0.5);
    }
  }

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input + input {
    margin-top: 5px;
  }

  label {
    display: block;
    resize: none;
    margin-bottom: 24px;
    width: 100%;
    font: inherit;
    color: inherit;
    appearance: none;
    background-color: transparent;
    box-shadow: 1px 1px 2px 0px transparent, 1px 1px 2px 0px transparent inset;
  }

  textarea {
    display: block;
    resize: none;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    font: inherit;
    color: inherit;
    border: 1px solid rgba(#000, 0.2);
    transition: transform 0.3s ease-out, border-color 0.3s ease-out,
      border-radius 0.3s ease-out, max-width 0.3s ease-out,
      max-height 0.3s ease-out, background-color 0.3s ease-out,
      box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out,
      visibility 0.3s ease-out;
    padding: 16px 22px;
    appearance: none;
    background-color: rgba(#000, 0.1);
    box-shadow: 1px 1px 2px 0px transparent, 1px 1px 2px 0px transparent inset;

    &:hover,
    &:focus,
    &:active {
      border-color: rgba(#000, 0.4);
      box-shadow: 1px 1px 2px 0px rgba(#000, 0.05),
        1px 1px 2px 0px rgba(#000, 0.05) inset;
    }

    &::placeholder {
      color: rgba(#000, 0.5);
    }
  }

  button:first-child {
    margin-right: auto;
  }

  .form__head {
    position: relative;
    min-height: 30px;
    margin-bottom: 12px;
    padding: 2px 0 0 40px;
  }

  .form__foot {
    display: flex;
  }
}
