<div class="wrapper">
  <div class="main">
    <!-- Static article -->
    <div class="article">
      <div class="shell">
        <div class="article__head">
          <img src="assets/img/avatar.png" alt="Author" />
          <h2>Article title</h2>
          by
          <h3>Author</h3>
          &bull;
          <h4>Date</h4>
        </div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis ut
          quidem maxime rerum nisi cumque debitis necessitatibus, repellendus
          recusandae excepturi incidunt. Maiores quos aspernatur sit, minus
          velit quisquam nam veritatis amet blanditiis architecto placeat error
          nulla a modi id quo libero suscipit. Delectus aliquam, eligendi
          incidunt eius quam distinctio obcasecati commodi inventore dolore
          voluptates quae animi modi quasi fugit facilis in. Alias minima iusto
          eius odit, accusamus nam consectetur magnam incidunt velit eum esse
          sit soluta quidem sapiente at maxime accusantium, debitis aspernatur
          impedit temporibus, aperiam expedita optio perspiciatis! Enim, id
          fugiat. Soluta repudiandae incidunt quos excepturi quia natus dolor
          placeat, fugiat quaerat amet nisi numquam. Repudiandae saepe non
          numquam molestiae soluta nesciunt minus ullam, porro pariatur, earum
          temporibus eum.
        </p>
      </div>
    </div>

    <!-- Comments app below -->
    <app-list></app-list>
  </div>
</div>
