<div class="list">
  <div class="shell">
    <!-- Comment sorting options -->
    <div class="list__head">
      <form [formGroup]="formSort">
        <label for="select-sort-by">Sort by:</label>
        <select formControlName="sortBy" id="select-sort-by">
          <option
            *ngFor="let sortOption of sortOptions"
            [value]="sortOption.value"
          >
            {{ sortOption.name }}
          </option>
        </select>
      </form>
    </div>

    <!-- Actions for adding root comment -->
    <button type="button" (click)="hasOpenNew = true">Add a comment</button>

    <!-- Form for adding root comment -->
    <app-form
      *ngIf="hasOpenNew"
      (newComment)="onNew($event); hasOpenNew = false"
      (cancel)="hasOpenNew = false"
    ></app-form>

    <!-- Display existing comments -->
    <ul *ngIf="sortComments().length > 0">
      <ng-container *ngFor="let comment of sortComments()">
        <li *ngIf="comment.parentId == null">
          <app-comment
            [comment]="comment"
            [repliesInput]="sortReplies(comment.id)"
            (deleteComment)="onDelete($event)"
            (replyComment)="onReply($event)"
            (editComment)="onEdit($event)"
          ></app-comment>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
